.characterContainer {
    display: flex;          
    overflow-x: auto;         
    padding: 1rem;
    gap: 1rem;                
    justify-content: flex-start;  
    align-items: center;
    scroll-behavior: smooth;  
}
.card{
    min-width: 200px !important;
}